.container {
  width: 100vw;
  height: 56.25vw;
  margin-bottom: 10px;
}

.navList {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.bigSlide {
  margin: auto;
  width: 60vw;
  height: 33.75vw;
  & .slideWrap__title {
    font-size: 1.8vw;
  }
  & .slideWrap__text {
    font-size: 1vw;
  }
  & .slideWrapONE__smallText {
    top: 18%;
    font-size: 0.9vw;
  }
  & .slideWrapTWO__smallText {
    font-size: 0.9vw;
  }
  & .slideWrapTHREE__smallText {
    font-size: 0.9vw;
  }
  & .slideWrapFOUR__smallText {
    font-size: 0.9vw;
  }
  & .slideWrapFIVE__smallText {
    font-size: 0.9vw;
  }
}

.slideWrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: contain;
  // background-repeat: no-repeat;
  border-radius: inherit;
  color: #fff;
}

.slideWrap__title {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 15%;
  width: 85%;
  font-size: 0.2vw;
  font-weight: 900;
  text-transform: uppercase;
}

.slideWrap__text {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 45%;
  font-size: 0.132vw;
  font-weight: 400;
}

.slideWrap__imageContainer {
  position: absolute;
  background-color: #e0e0e0;
  border-radius: 7%;
}

.slideWrapONE {
  composes: slideWrap;
  background-image: url("../../../assets/templates/styleTemplate/slide1.png");
}

.slideWrapONE__title {
  composes: slideWrap__title;
}

.slideWrapONE__text {
  composes: slideWrap__text;
}
.slideWrapONE__smallText {
  composes: slideWrap__text;
  top: 18%;
  font-size: 0.1vw;
}

.slideWrapONE__imageContainer {
  composes: slideWrap__imageContainer;
  right: 12.8%;
  top: 32.5%;
  width: 29.2%;
  height: 32.5%;
  border-radius: 0%;
}



.slideWrapTWO {
  composes: slideWrap;
  background-image: url("../../../assets/templates/styleTemplate/slide2.png");
}

.slideWrapTWO__title {
  composes: slideWrap__title;
  top: 3%;
  left: 5%;
  width: 80%;
  height: 10%;
}

.slideWrapTWO__text {
  composes: slideWrap__text;
  top: 20%;
  left: 5%;
  width: 80%;
}

.slideWrapTWO__smallText {
  composes: slideWrapTWO__text;
  font-size: 0.1vw;
}



.slideWrapTHREE {
  composes: slideWrap;
  background-image: url("../../../assets/templates/styleTemplate/slide3.png");
}

.slideWrapTHREE__title {
  composes: slideWrap__title;
  top: 3%;
  width: 50%;
  height: 20%;
}

.slideWrapTHREE__text {
  composes: slideWrap__text;
  position: absolute;
  top: 24%;
  left: 5%;
  width: 50%;
  font-weight: 400;
}

.slideWrapTHREE__smallText {
  composes: slideWrapTHREE__text;
  font-size: 0.1vw;
}

.slideWrapTHREE__imageContainer {
  composes: slideWrap__imageContainer;
  right: 0%;
  top: 0%;
  width: 42.4%;
  height: 100%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}



.slideWrapFOUR {
  composes: slideWrap;
  background-image: url("../../../assets/templates/styleTemplate/slide4.png");
}

.slideWrapFOUR__title {
  composes: slideWrap__title;
  top: 3%;
  width: 90%;
  height: 10%;
}

.slideWrapFOUR__text {
  composes: slideWrap__text;
  top: 12%;
  width: 82%;
  height: 37.5%;
}

.slideWrapFOUR__smallText {
  composes: slideWrapFOUR__text;
  font-size: 0.1vw;
}

.slideWrapFOUR__imageContainer_0 {
  composes: slideWrap__imageContainer;
  top: 48%;
  left: 6.8%;
  width: 40.6%;
  height: 42.7%;
  border-radius: 7%;
}
.slideWrapFOUR__imageContainer_1 {
  composes: slideWrap__imageContainer;
  top: 48%;
  right: 6.8%;
  width: 40.6%;
  height: 42.7%;
  border-radius: 7%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
