form.loginForm * {
  box-sizing: border-box;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.enter {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  @media (max-width: 430px) {
    & {
      font-size: 4.3vw;
    }
  }
}

.input {
  padding: 16px 12px;
  height: 40px;
  width: 25vw;
  border: 1.25px solid #8d8e99;
  border-radius: 6px;
  background-color: #2e3042;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-dop);
  &:active {
    color: #fff;
  }
  @media (max-width: 430px) {
    & {
      font-size: 3.2vw;
      width: 55vw;
    }
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25vw;
  height: 40px;
  background: #3a48e1;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #f5f5fa;
  transition: 0.3s;
  &:hover {
    background: linear-gradient(180deg, #3a48e1 0%, #2b38cd 100%);
  }

  @media (max-width: 430px) {
    & {
      font-size: 3.2vw;
      width: 55vw;
    }
  }
}

.error {
  padding: 16px 12px;
  height: 40px;
  width: 25vw;
  border: 1.25px solid red;
  border-radius: 6px;
  background-color: #2e3042;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a6a7b1;
  &:active {
    color: #fff;
  }

  @media (max-width: 430px) {
    & {
      width: 55vw;
    }
  }
}



.inputContainer {
  position: relative;
}

.passwordInput {
  padding: 16px 12px;
  width: 25vw;
  height: 40px;
  border: 1.25px solid #8d8e99;
  border-radius: 6px;
  background-color: #2e3042;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #a6a7b1;
  &:active {
    color: #fff;
  }

  @media (max-width: 430px) {
    & {
      font-size: 3.2vw;
      width: 55vw;
    }
  }
}

.inputError {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: var(--text-dop);
  width: 25vw;

  @media (max-width: 430px) {
    & {
      font-size: 2.5vw;
      margin-bottom: 23px;
      width: 55vw;
    }
  }
}

.hidePassword {
  position: absolute;
  right: 10px;
  top: 38%;
  cursor: pointer;
}

.showPassword {
  position: absolute;
  right: 8px;
  top: 33%;
  height: 16px;
  width: 21px;
  fill: #c8cad7;
  cursor: pointer;
}

.passwordLink {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #c8cad7;
  margin-bottom: 22px;
  text-decoration: underline;

  @media (max-width: 430px) {
    & {
      font-size: 3.2vw;
      width: 55vw;
    }
  }
}

.toRegisterLink {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #c8cad7;
  a {
    margin-left: 5px;
    text-decoration: underline;
  }

  @media (max-width: 430px) {
    & {
      font-size: 3vw;
    }
  }
}

.googleButton {
  width: 25vw;
  display: flex;
  height: 40px;
  padding: 16px 22px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  border: 1px solid #8d8e99;
  cursor: pointer;
  margin-bottom: 20px;
  background: transparent;
  color: #f5f5fa;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media (max-width: 430px) {
    & {
      width: 55vw;
    }
  }
}
