.container {
  width: 100vw;
  height: 56.25vw;
  margin-bottom: 10px;
}

.titleWrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/templates/minimaTemplate/finishSlide.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  position: absolute;
  bottom: 40%;
  left: 6%;
  height: 20%;
  width: 50%;
  font-size: 3vw;
  font-weight: 900;
  text-transform: uppercase;
}

.text {
  position: absolute;
  bottom: 8%;
  left: 20%;
  width: 45%;
  font-size: 1.5vw;
  font-weight: 400;
}

.listContainer {
    width: 100%;
    height: 100%;
}

.listTitleWrap {
    composes: titleWrap;
    border-radius: 8px;
}

.listTitle {
    composes: title;
    font-size: 1rem;
}

.listText {
  composes: text;
  font-size: 0.5rem;
}

.bigSlide {
  margin: auto;
  width: 60vw;
  height: 33.75vw;
}
