.navigateWrap {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 254px;
    padding: 10px 17px 0px 0px;
    height: 100vh;
    border-right: 1px solid #373840;
}