@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", Verdana, Arial, Tahoma, sans-serif;
}

:root {
  --bc-dop: #1d1e24;
  --backgorund: #15161c;
  --content-dop: #c8cad7;
  --icon: #8d8e99;
  --text-dop: #a6a7b1;
  --content-dop-dark: #373840;
}
